
body {
	font-family: Trebuchet MS,Tahoma,Arial,sans-serif;
	background: #e2e2e2; /* old browsers */
	background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* ie */
}

a { outline: none;}

table tr {
	background: #494949; /* Non-CSS3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#373737'); /* IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#373737)); /* Webkit browsers */
	background: -moz-linear-gradient(top,  #494949,  #373737); /* Firefox 3.6+ */	
}

table td {
	border-bottom: 1px solid #222;
	padding: 10px;
}

table td.active {
	background: #606c88; /* old browsers */
	background: -moz-linear-gradient(top, #444 0%, #222 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#222)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#222',GradientType=0 ); /* ie */	
}

table {
	-moz-box-shadow: 0px 3px 7px #222;
	-webkit-box-shadow: 0px 3px 7px #222;
	box-shadow: 0px 3px 7px #222;
}

#transport {
	-moz-box-shadow: 0px 3px 7px #333;
	-webkit-box-shadow: 0px 3px 7px #333;
	box-shadow: 0px 3px 7px #333;	
	-moz-border-radius-topleft: 10px;  
  -moz-border-radius-topright: 10px; 
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

#transport, #sounds-header {
	color: #fff;
	background-color: #333;
	margin-bottom: 0px;	
	padding: 10px;	
}

#transport {
	margin: 20px;
	margin-bottom: 0px;
	margin-top: 30px;
	position: relative;
}

h1 {
	color: #fff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 1);	
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 30px;
	position: absolute;
	top: -10px;
	right: 10px;
}

#sounds-header {
	margin-left: 20px;
	margin-right: 20px;
}

#sounds-inline a {
	display: block;
}

#sequencer-container {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	-moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;

}

#sequencer-container, #sounds-container {
	position: relative;
	margin: 20px;
	margin-top: 0px;
	margin-bottom: 0px;	
	background-color: #494949;
	overflow-x: scroll;	
	overflow-y: hidden;		
	padding-bottom: 20px;
	-moz-box-shadow: 0px 3px 7px #333;
	-webkit-box-shadow: 0px 3px 7px #333;
	box-shadow: 0px 3px 7px #333;	
	padding-right: 100px;
}

#sounds-container-dynamic {
	display: none;
	position: absolute;
	top: 0px;
	top: 0px;
	height: 77px;
	width: 90px;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	
	background-color: #494949;
	-moz-box-shadow: 0px 3px 17px #aaa;
	-webkit-box-shadow: 0px 3px 17px #aaa;
	box-shadow: 0px 3px 17px #aaa;
	overflow-x: hidden;	
	overflow-y: scroll;	
}

div::-webkit-scrollbar, div::-webkit-scrollbar {
  -webkit-border-radius: 10px;
	width: 8px;
	height: 8px;
}

div::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
  background: #373737;
	width: 8px;
	height: 8px;	
  -webkit-border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
	height: 8px;
	width: 8px;
  background: #373737;
}

#play {
	border: none;
	background: url('img/pause.png') no-repeat scroll top left;
	width: 30px;
	height: 30px;
}

#play.pause {
	background: url('img/play.png') no-repeat scroll top left;
}

#addTrack {
	border: none;
	background: url('img/newtrack.png') no-repeat scroll top left;
	width: 30px;
	height: 30px;
}

#down {
	border: none;
	background: url('img/down.png') no-repeat scroll top left;
	width: 30px;
	height: 30px;
}

#down.up {
	background: url('img/up.png') no-repeat scroll top left;
}

#previews {
	display: none;
}

#zoom, #bpm {
	height: 2px;
	color: #000;
	position: absolute;
	top: 32px;
}

#zoom {
	left: 130px;
	width: 150px;	
}

#bpm {
	width: 100px;	
	left: 320px;
}

#zoom .ui-slider-handle, #bpm .ui-slider-handle {
	height: 10px;
	width: 10px;
	background: #222;
	border: 1px solid #6e6e6e;		
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;	
}

#zoom .ui-slider, #bpm .ui-slider {
	height: 2px;
}

#zoom.ui-widget-content, #bpm.ui-widget-content {
	background: #222;
	border: 1px solid #6e6e6e;
}

#zoomLabel {
	position: absolute;
	top: 15px;
	left: 185px;
	color: #666;
	font-size: 10px;
}

#bpmLabel {
	color: #666;	
	position: absolute;
	font-size: 10px;	
	top: 15px;
	left: 350px;	
}

